<div class="container">
  <div class="row">
  <app-base-component 
  (ApplicationCreated)="onAddApplicationAdded($event)" 
  (EnvironmentCreated)="onAddApplicationAdded($event)"
  >
</app-base-component>
 
  <hr>
  <div class="row">
    <div class="col-xs-12">
<!-- We are sending the data from the ngFor  to the element which is defined in the application Component where we have 
defined a element property with the @input-->
<app-application-component *ngFor="let Data of ApplicationList" [element]="Data">

</app-application-component>
  </div>
</div>